body {
    
    background-color:lightblue;
    margin-right:20px;
}
img {
    height:75px;
    margin-left:20px;
    margin-top:-10px;
    float:left;
}
#settings
{
    height:30px;
    float:right;
    margin-top:7px;
    margin-left:0px;
}

p.welcome {
    font-size:30px;
   color:cornflowerblue;
   margin:0px;
   float:right;
}

headerMaster{
    
}
p{
    margin-top:50px;
    margin-left:110px;
    color:cornflowerblue;
    font-weight:bolder;
    font-size:25px;
    
    
}
footer
{

    
    bottom:0;
    left:0;
    text-align:center;
    font-weight:bold;
  
    
  
}
#contentInsertTrip{
    margin-left:10px;
}
#nomargins
{
    margin:0;
}
button{
    width:1350px;
    margin-left:10px;
    height:300px;
    margin-bottom:5px;
    
  
}
customisedLabel{
   font-size:20px;
   margin-bottom:100px;
   color:red;
}

welcome{
    margin:0px;
}
h4{
    margin-bottom:-20px;
    margin-top:-20px;
    padding:0px;
}

head
{
    margin:1px;
}
container
{
    margin-top:100px;
}
